

.main-invitationCard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.main-invitationCard-container .invitation-party--card {
    margin: 15px 30px
}

.main-schedule-container .main-schedule--title .main-schedule--imgs{
    height: 426px;
    width: 640px;
}

.img-show {
    width: 640px;
}

.main-party-info {
    display: flex;
    flex-wrap: wrap;
}

.main-party-info {
    margin: 0 15px;
}