:root {
    --green-pale: #C4C4C4;
    --dark-green: #2E5B2E;
    --medium-dark-green: #6F8F6F;
    --green-emerald: #9CEAC3;
    --sand-medium: #94745B;
    --sand-light: #FBE8CC;
    --sand-dark: #533723;
    --off-white: #faf8f7;
    --just-white: #fff;
    --warm-black: #282623;
    --black: #201e1c;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.header--title--container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: auto;
    text-align: center;
    background-color: var(--sand-dark);
    /*background: linear-gradient(360deg, var(--medium-dark-green) 16.69%, var(--dark-green) 100%);*/
}

header img {
    width: 80%;
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
    
}

.header--title--container h1 {
    font-family: "Great Vibes", cursive;
    font-size: 4rem;
    font-weight:lighter;
    /*line-height: 2.6rem;*/
    color: var(--sand-light);
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--sand-dark);

}

.header--title--container h2 {
    font-family: "Great Vibes", cursive;
    font-size: 2rem;
    font-weight: lighter;
    line-height: 2.6rem;
    color: var(--sand-light);
    padding-bottom: 20px;
    background-color: var(--sand-dark);
}

main {
    width: 100%;
    height: auto;
    font-family: 'DM Sans', 'sans-serif';
}

.main-schedule-container {
    justify-content: center;
    text-align: center;
    height: auto;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: var(--sand-medium);
}

.main-schedule-container .main-schedule--title {
    overflow: hidden;
}

.main-schedule-container .main-schedule--title h2 {
    font-family: "Great Vibes", cursive;
    line-height: 3rem;
    font-weight: bold;
    font-size: 3rem;
    color: var(--sand-dark);
}

.main-schedule-container .main-schedule--title #schedule-p {
    font-family: "Great Vibes", cursive;
    line-height: 1.8rem;
    padding: 4rem 3rem;
    font-size: 1.6rem;
    color: var(--sand-dark);
}

.main-schedule-greeting {
    line-height: 1.8rem;
    padding: 4rem 1rem;
    font-size: 6rem;
    font-family: "Great Vibes", cursive;
    color: var(--sand-dark);
}

.main-slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-schedule-container .main-schedule--title .main-schedule--imgs{
    display: flex;
    height: 213px;
    max-width: 800px;
    margin: 0 0;
    position: relative;
    /*overflow: hidden;*/
    transform: translate3d(0, 0, 0);
    /*overflow-x: scroll;*/
    /*overscroll-behavior-x: contain;*/
    scroll-snap-type: proximity;
    width: 320px;
}

.img-hidden {
    width: 0px;
}

.img-show {
    width: 320px;
}

.main-schedule-container .main-schedule--title .main-schedule--imgs img{
    /*min-width: 100%;*/
    background-repeat: no-repeat;
    
    transition: transform 0.5s ease;
}

.main-schedule-container .main-schedule--title .main-schedule--imgs > div{

    height: 200px;
    width: 2526px;
    background: url(./assets/img/slider-banner1.jpg);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
    
}

.main-slider-container .button {
    position: relative;
    border: none;
    cursor: pointer;
    height: 100px;
    /*justify-content: center;
    vertical-align: middle;*/
    width: 100px;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    
}

.prevButton {
    /*left: 15px;*/
    opacity: 75%;
    background-image: url(./assets/icons/left-arrow.png);
}

.nextButton {
    /*left: -15px;*/
    opacity: 75%;
    background-image: url(./assets/icons/right-arrow.png);
}


.main-schedule-container .main-schedule--body{
    color: var(--sand-light);
    padding-bottom: 30px;
}

.main-schedule-container .calendar {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: 15px;
    background-image: url('./assets/icons/calendar-ico.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-schedule-container .main-schedule--dayOfWeek {
    font-size: 7rem;
}

.main-schedule-container .main-schedule--day {
    font-size: 17rem;
    line-height: 13rem;
}

.main-schedule-container .main-schedule--month {
    font-size: 5rem;
}

.main-schedule-container .main-schedule--year {
    font-size: 8rem;
    line-height: 5rem;
}

.main-invitationCard-container {
    width: 100%;
    height: auto;
    text-align: center;
    color: var(--sand-dark);
    background-color: var(--sand-medium);
    padding-top: 20px;
    padding-bottom: 30px;
}

.main-invitationCard-container .invitation-party--card {
    width: 80%;
    margin: 15px auto;
    height: 350px;
    padding: 15px;
    background-color: #C7AD93;
    border-radius: 10px;
    min-width: 288px;
    max-width: 320px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.16);
}

.main-invitationCard-container .clock {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 15px;
    background-image: url('./assets/icons/time-ico.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-invitationCard-container .gmap {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-right: 25px;
    background-image: url('./assets/icons/gmaps-ico.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-invitationCard-container .waze {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    background-image: url('./assets/icons/waze-ico.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-invitationCard-container .parking {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 25px;
    background-image: url('./assets/icons/parking-ico.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.main-invitationCard-container .location {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 15px;
    background-image: url('./assets/icons/location-ico.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    /*animation: location-indicator 10s ease;*/
}

.bounce2 {
    animation: bounce2 2s ease ;
}

@keyframes bounce2 {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-15px);}
      60% {transform: translateY(-5px);}
}

.main-invitationCard-container .invitation-card--title{
    font-size: 3rem;
}

.main-invitationCard-container .invitation-card--time{
    font-size: 2rem;
}

.main-invitationCard-container .invitation-card--location{
    font-size: 2rem;
}

.main-confirmation-container {
    width: 100%;
    height: auto;
    background-color: var(--sand-medium);
    padding-top: 5px;
    text-align: center;
    
}

#confirmation-invitation {
    font-size: 2.5rem;
    color: var(--sand-dark);
}

.main-confirmation-whatsapp {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin-top: 15px;
    padding: 50px;
    background-image: url('./assets/icons/whatsapp_logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color:  #C7AD93;
    border-radius: 50%;

}


.main-party-info {
    width: 100%;
    height: auto;
    background-color: var(--sand-medium);
    padding-top: 5px;
    text-align: left;
    font-size: 1.8rem;
    color: var(--sand-dark);
    padding-bottom: 15px;
}

.main-party-info-card {
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    height: auto;
    padding: 15px;
    background-color: #C7AD93;
    border-radius: 10px;
    min-width: 160px;
    max-width: 320px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.16);   
}

.main-party-info-card span {
    display: inline-block;
    width: 40px;
    height: 40px;
    
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.main-party-info-card .dance {
    background-image: url('./assets/icons/dancer-icon.png');
}

.main-party-info-card .gift {
    background-image: url('./assets/icons/gift-icon.png');
}

.main-party-info-card .child {
    background-image: url('./assets/icons/child-icon-1.png');
}

.main-party-info-card .adult {
    background-image: url('./assets/icons/adult-couple.png');
}

.main-party-info-card .gallery {
    background-image: url('./assets/icons/gallery-icon.png');
}

.main-party-info-card .gallery-link {
    display: flex;
    width: 60px;
    height: 60px;
    padding: 50px;
    margin-top: 15px;
    background-image: url('./assets/icons/camera-icon.png');
    background-size:  contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color:  var(--sand-light);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


footer {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: var(--sand-dark);
    font-family: 'DM Sans', 'sans-serif';
}

footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items:  center;
}

footer .left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    list-style-type: none;
}

.left li {
    margin: 10px 0;
}

.left a {
    text-decoration: none;
    color: var(--just-white);
}